<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.etc.movieticket">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.activity.BaseActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity
            android:name=".ui.activity.MovieInfoActivity"
            android:label="@string/title_activity_movie_info"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.activity.BuyTicketActivity" />
        <activity android:name=".ui.activity.PickSeatActivity" />
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.etc.movieticket.utils.MyGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="5fCzElmmb6UCkykp1wmm2R8ChhkkQ0f8" />

        <activity android:name=".ui.activity.UserInfoActivity" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity android:name=".ui.activity.CitySelectorActivity" />
        <activity android:name=".ui.activity.SearchActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".ui.activity.ActorInfoActivity" />
        <activity android:name=".ui.activity.CommentActivity"></activity>
    </application>

</manifest>